---
import Layout from '../layouts/Layout.astro'
import ResultsSummary from '../components/Results-summary.astro'
---

<Layout title="Frontend Mentor | Results summary component">
	<main>
		<ResultsSummary />
	</main>
</Layout>
